{% extends "layout.html" %}

    {% block css %}
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/layout.css">
    {% endblock %}

{% block table %}

        <div id="ids">

        </div>

        <div >
                <input type="text">
        </div>

       <table class="table table-hover table-bordered">
        <tr>
            <th>选中</th>
            <th>ID</th>
            <th>IP</th>
            <th>ssh 端口</th>

        </tr>

        {% for server in servers %}
        <tr>
            <td> <input type="checkbox" onclick=""> </td>
            <td id="id">{{ server.id }}</td>
            <td>{{ server.ip }}</td>
            <td>{{ server.port }}</td>

        </tr>
        {% endfor %}
    </table>
    <div id="msg"></div>


{% endblock %}

    {% block js %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script>

        function server_handle(id,handle){

            tem = $('#msg').html("");
           $.ajax({
            url:'/pubfree/server_handle/',
            type:'POST',
            data:{"id":id,"handle":handle},
            success:function(arg){
                tem = $('#msg').html("操作成功!");
            },
            error:function(){
                console.log('failed')
            }
        });
        }

        function append_id(id){


        }



    </script>
    {% endblock %}
