{% extends "layout.html" %}

    {% block css %}
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/layout.css">
        <link rel="stylesheet" href="/static/css/task.css">
    {% endblock %}

{% block table %}



        <div >
                <input id="cmd" type="text">
                <input type="button" value="start" onclick="start_cmd()">
        </div>

       <table class="table table-hover table-bordered" width="50px">
        <tr>
            <th>IP</th>
        </tr>

        {% for server in servers %}
        <tr onclick="append_id({{ server.id }});">
            <td>{{ server.ip }}</td>
        </tr>
        {% endfor %}
    </table>

        {% for server in servers %}
            <div>{{ server.ip }}</div>
            <div id="{{ server.ip }}"></div>
        {% endfor %}



{% endblock %}

    {% block js %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script>

        function start_cmd(){

            var cmd = $('#cmd').val();
            idss = JSON.stringify(ids);
            ids = [];
           $.ajax({
            url:'/task/cmd_run/',
            type:'POST',
            data:{"ids":idss,"cmd":cmd},
            dataType: "json",
            success:function(results){
                console.log("successful");
                //console.log(results);
                for (var result in results){

                    for (var key in results[result]){
                        console.log(key);
                        console.log(results[result][key]);
                        document.getElementById(key).innerHTML=results[result][key];

                        var ss = $("#"+key).html();
                        $("#"+key).html(results[result][key]);
                    };
                };

            },
            error:function(arg){
                $('#msg').html(arg.responseText);
                console.log(arg.responseText);
                console.log("error");

            }
        });

        }
        var ids = [];
        function append_id(id){

            ids.push(id);

        }



    </script>
    {% endblock %}
