{% extends "layout.html" %}

    {% block css %}
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/layout.css">
    {% endblock %}

{% block table %}

       <table class="table table-hover table-bordered">
        <tr>
            <th>日期</th>
            <th>URL访问统计</th>
            <th>IP访问统计</th>
            <th>PV访问统计</th>

        </tr>

        {% for d in datas %}
        <tr>
            <td>{{ d }}</td>
            <td><div class="a16"> <a href="/manage/get_urlcount/{{ d }}/">{{ i }} 日URL访问量</a></div></td>
            <td><div class="a16"> <a href="/manage/get_ipcount/{{ d }}/">{{ i }} 日IP访问量</a> </div></td>
            <td><div class="a16"> <a href="/manage/char/{{ d }}/">{{ i }}日PV图</a></div></td>


        </tr>
        {% endfor %}
    </table>



{% endblock %}

    {% block js %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>

    {% endblock %}
