{% extends "layout.html" %}


{% block table %}
<div id='canvasDiv'></div>
{% endblock %}

{% block js %}
<script src="/static/js/ichart.1.2.1.beta.20140329.min.js"></script>
<script>
var data = [
    {% for i in data %}


		{name : '{{ i.time }}',value : {{ i.count }},color:'#a5c2d5'},
    {% endfor %}

	 ];
	 $(function(){
		var chart = new iChart.Column2D({
			render : 'canvasDiv',//渲染的Dom目标,canvasDiv为Dom的ID
			data: data,//绑定数据
			title : '{{ date }}  每小时PV图',//设置标题
			width : 800,//设置宽度，默认单位为px
			height : 400,//设置高度，默认单位为px
			shadow:true,//激活阴影
			shadow_color:'#c7c7c7',//设置阴影颜色
			coordinate:{//配置自定义坐标轴
				scale:[{//配置自定义值轴
					 position:'left',//配置左值轴
					 start_scale:0,//设置开始刻度为0
					 end_scale:10000,//设置结束刻度为26
					 scale_space:1000,//设置刻度间距
					 listeners:{//配置事件
						parseText:function(t,x,y){//设置解析值轴文本
							return {text:t+" 次"}
						}
					}
				}]
			}
		});
		//调用绘图方法开始绘图
		chart.draw();
	});

	//Html代码

</script>
{% endblock %}