{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/top.css">
    <link rel="stylesheet" href="/static/css/left.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    {% block css %}
    {% endblock %}

</head>
<body>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
            <div class="ue-bar">
                <div class="ue-bar-warp">

                    <div class="ue-bar-nav">
                        <ul>
                            <li class="active"><a href="/">
                                <em>访问日志分析</em>
                            </a></li>
                            <li ><a href="/admin/">
                                <em>后台管理</em>
                            </a></li>
                            <li ><a href="#">
                                <em>环境部署</em>
                            </a></li>
                            <li><a href="/pubfree/server_info">
                                <em>代码发布</em>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span4">
            <div class="adminMenuWarp">
                <ul class="adminmenu">
                    <li class="menu"><a href="#">流量图</a></li>
                    <li class="menu"><a href="#">地域图</a></li>
                    <li class="menu"><a href="#">系统负载</a></li>
                    <li class="menu"><a href="/task/server_info/">任务执行</a></li>
                    <li class="menu"><a href="#">用户管理</a></li>
                    <li class="menu"><a href="#">日志采集</a></li>
                    <li class="menu"><a href="/manage/monitor_web/">WEB节点监控</a></li>
                </ul>
            </div>

		</div>
		<div class="span8">
            {% block table %}
            {% endblock %}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">

		</div>
	</div>
</div>

</body>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    {% block js %}
    {% endblock %}
</html>