{% extends "layout.html" %}
{% block table %}
    <table class="table table-hover table-bordered">
        <tr>
            <th>主机IP</th>
            <th>服务端口</th>
            <th>服务链接</th>
            <th>服务项目</th>
            <th>服务状态</th>
        </tr>

        {% for d in data %}
        <tr>

            <td>{{ d.hostname }}</td>
            <td>{{ d.port }}</td>
            <td><a href="{{ d.url }}">{{ d.url }}</a></td>
            <td>{{ d.app }}</td>
            <td>200</td>

        </tr>
        {% endfor %}
    </table>
{% endblock %}
